.active .nav-link {
    color: white !important
}

.dropdown-toggle::after {
    border-right: 0 ; 
     border-left: 0 ;
}

.line-break {
    margin: 0rem;
}

.line-break1 {
    margin-top: 1rem !important;
    margin-bottom: 0rem !important;
}